---
import MainLayouts from '../layouts/Main-Layouts.astro';
---

<MainLayouts subtitle="Taranium Academy" title="Taranium">
  <div class="relative md:mx-auto flex flex-col justify-between items-center">
    <section class="relative w-full min-h-screen py-16 sm:py-20 md:py-24 lg:py-[100px] px-4 sm:px-6 lg:px-10 flex flex-col items-center justify-center text-center gap-y-8 sm:gap-y-10">
      <div class="absolute inset-0 -z-10 flex justify-center items-center h-full w-full overflow-hidden">
        <img src="/bg-meteor.svg" alt="bg-meteor" class="absolute top-[150px] left-[100px] w-full h-full opacity-40 hidden lg:block drop-shadow-2xl" />
      </div>
      <div class="flex flex-col items-center justify-center gap-y-8 sm:gap-y-10">
        <div class="font-clashDisplay flex flex-col items-center justify-center gap-y-6 sm:gap-y-8">
          <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-[5rem] font-semibold text-white capitalize text-center leading-tight">
            Empowering the Next Generation of <span class="bg-gradient-to-r from-[#CFB1FF] via-[#CFB1FF] to-[#7915EC] inline-block text-transparent bg-clip-text tracking-[2px] sm:tracking-[4px]"> Blockchain Innovators</span>
          </h1>
          <p class="font-poppins text-center w-full max-w-[670px] leading-7 sm:leading-9 text-base sm:text-lg text-white px-4 sm:px-0">
            Taranium Academy is your gateway to mastering blockchain technology. We offer expert-led courses and hands-on experiences to empower developers, entrepreneurs, and innovators.
          </p>
        </div>
        <button class="px-10 sm:px-14 py-3 sm:py-4 bg-gradient-to-br from-[#D0B2FF] to-[#7915EC] capitalize rounded-md text-white text-sm sm:text-base">join academy</button>
      </div>
    </section>

    <section class="relative w-full py-16 sm:py-20 md:py-24 lg:py-[100px] px-4 sm:px-6 lg:px-10">
      <div class="absolute inset-0 -z-10 flex justify-center items-center h-full w-full overflow-hidden">
        <img src="/bg-meteor.svg" alt="bg-meteor" class="absolute top-[100px] left-[-900px] w-full h-full opacity-40 hidden lg:block drop-shadow-2xl" />
        <img src="/bg-meteor.svg" alt="bg-meteor" class="absolute top-[300px] right-[-900px] w-full h-full opacity-40 hidden lg:block drop-shadow-2xl" />
      </div>
      <div class="max-w-[100rem] mx-auto flex flex-col justify-start gap-y-16 sm:gap-y-20">
        <div class="flex flex-col items-center justify-center gap-y-8 sm:gap-y-10">
          <div class="font-clashDisplay flex flex-col items-center justify-center gap-y-6 sm:gap-y-8">
            <h1 class="text-3xl sm:text-4xl lg:text-[45px] font-semibold text-white uppercase text-center tracking-[2px] sm:tracking-[3px] max-w-[700px]">TARANIUM BLOCKCHAIN CERTIFIED Partner</h1>
            <p class="font-poppins text-center w-full max-w-[670px] leading-7 sm:leading-9 text-base sm:text-lg text-white px-4 sm:px-0">
              The Taranium Blockchain Certified Partner (TBCP) program is designed for professionals and organizations looking to demonstrate their expertise and commitment to the Taranium ecosystem.
            </p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-x-16 justify-items-center">
            <div class="relative flex flex-col justify-between items-center py-5 px-4 sm:px-8 w-full max-w-[360px] h-full overflow-hidden gap-y-4 sm:gap-y-8">
              <div class="flex flex-col gap-y-2">
                <h1 class="text-white font-clashDisplay font-bold capitalize text-4xl sm:text-[55px] text-center">5</h1>
                <p class="text-white text-center font-clashDisplay uppercase text-sm sm:text-base">practical modules</p>
              </div>
            </div>
            <div class="relative flex flex-col justify-between items-center py-5 px-4 sm:px-8 w-full max-w-[360px] h-full overflow-hidden gap-y-4 sm:gap-y-8">
              <div class="flex flex-col gap-y-2">
                <h1 class="text-white font-clashDisplay font-bold capitalize text-4xl sm:text-[55px] text-center">24</h1>
                <p class="text-white text-center font-clashDisplay uppercase text-sm sm:text-base">practical modules</p>
              </div>
            </div>
            <div class="relative flex flex-col justify-between items-center py-5 px-4 sm:px-8 w-full max-w-[360px] h-full overflow-hidden gap-y-4 sm:gap-y-8">
              <div class="flex flex-col gap-y-2">
                <h1 class="text-white font-clashDisplay font-bold capitalize text-4xl sm:text-[55px] text-center">3 X</h1>
                <p class="text-white text-center font-clashDisplay uppercase text-sm sm:text-base">practical modules</p>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center w-full max-w-[100rem]">
            <img src="/image-academy.png" alt="Image Academy" class="w-full max-w-[700px]" />
            <div class="flex flex-col items-center justify-center gap-y-8 sm:gap-y-10 bg-gradient-to-r from-[#7915EC] via-[#CC51FF] to-[#F4B4FF] w-full py-12 sm:py-20 px-4 rounded-xl">
              <h3 class="text-2xl sm:text-3xl lg:text-[3rem] font-clashDisplay text-white font-bold tracking-[1.5px] sm:tracking-[2.5px] text-center leading-tight max-w-[800px]">Empower Your Future with Blockchain Knowledge!</h3>
              <button class="px-10 sm:px-14 py-3 bg-white text-black font-clashDisplay font-semibold rounded-md text-sm sm:text-base">Enroll Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative w-full py-16 sm:py-20 md:py-24 lg:py-[100px] px-4 sm:px-6 lg:px-10">
      <div class="absolute inset-0 -z-10 flex justify-center items-center h-full w-full overflow-hidden">
        <img src="/bg-meteor.svg" alt="bg-meteor" class="absolute top-[100px] left-[-900px] w-full h-full opacity-40 hidden lg:block drop-shadow-2xl" />
        <img src="/bg-meteor.svg" alt="bg-meteor" class="absolute top-[300px] right-[-900px] w-full h-full opacity-40 hidden lg:block drop-shadow-2xl" />
      </div>
      <div class="max-w-[90rem] mx-auto flex flex-col items-center justify-center gap-y-10 sm:gap-y-12">
        <h1 class="text-center text-3xl sm:text-4xl lg:text-[45px] text-white font-clashDisplay font-bold tracking-[1.5px] sm:tracking-[2px] uppercase">COURSE OVERVIEW</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-7 justify-items-center w-full">
          <!-- Card 1 -->
          <div class="relative flex flex-col items-center p-6 sm:p-8 max-w-[600px] w-full min-h-[300px] bg-[#232323] border border-[#666666] rounded-lg overflow-hidden gap-y-10 sm:gap-y-10">
            <img src="/assets/image-item-academy.png" alt="" class="drop-shadow-2xl w-24 sm:w-32" />
            <div class="flex flex-col gap-y-3 sm:gap-y-4 text-center">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-xl sm:text-[1.5rem]">Foundations of Blockchain Technology</h1>
              <p class="text-white text-sm sm:text-base">Gain a comprehensive understanding of blockchain fundamentals, including consensus mechanisms, cryptography, and decentralized networks.</p>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="relative flex flex-col items-center p-6 sm:p-8 max-w-[600px] w-full min-h-[300px] bg-[#232323] border border-[#666666] rounded-lg overflow-hidden gap-y-10 sm:gap-y-10">
            <img src="/assets/image-item-academy1.png" alt="" class="drop-shadow-2xl w-24 sm:w-32" />
            <div class="flex flex-col gap-y-3 sm:gap-y-4 text-center">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-xl sm:text-[1.5rem]">Building dApps on Taranium</h1>
              <p class="text-white text-sm sm:text-base">Gain a comprehensive understanding of blockchain fundamentals, including consensus mechanisms, cryptography, and decentralized networks.</p>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="relative flex flex-col items-center p-6 sm:p-8 max-w-[600px] w-full min-h-[300px] bg-[#232323] border border-[#666666] rounded-lg overflow-hidden gap-y-10 sm:gap-y-10">
            <img src="/assets/image-item-academy2.png" alt="" class="drop-shadow-2xl w-24 sm:w-32" />
            <div class="flex flex-col gap-y-3 sm:gap-y-4 text-center">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-xl sm:text-[1.5rem]">Decentralized Finance (DeFi) Essentials</h1>
              <p class="text-white text-sm sm:text-base">Gain a comprehensive understanding of blockchain fundamentals, including consensus mechanisms, cryptography, and decentralized networks.</p>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="relative flex flex-col items-center p-6 sm:p-8 max-w-[600px] w-full min-h-[300px] bg-[#232323] border border-[#666666] rounded-lg overflow-hidden gap-y-10 sm:gap-y-10">
            <img src="/assets/image-item-academy3.png" alt="" class="drop-shadow-2xl w-24 sm:w-32" />
            <div class="flex flex-col gap-y-3 sm:gap-y-4 text-center">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-xl sm:text-[1.5rem]">Metaverse Development on Taranium</h1>
              <p class="text-white text-sm sm:text-base">Dive into the development of immersive digital worlds and learn how to create and manage virtual assets within the metaverse.</p>
            </div>
          </div>

          <!-- Card 5 -->
          <div class="relative flex flex-col items-center p-6 sm:p-8 max-w-[600px] w-full min-h-[300px] bg-[#232323] border border-[#666666] rounded-lg overflow-hidden gap-y-10 sm:gap-y-10">
            <img src="/assets/image-item-academy4.png" alt="" class="drop-shadow-2xl w-24 sm:w-32" />
            <div class="flex flex-col gap-y-3 sm:gap-y-4 text-center">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-xl sm:text-[1.5rem]">Real-World Asset Tokenization</h1>
              <p class="text-white text-sm sm:text-base">Understand the process of tokenizing physical assets, including real estate, art, and commodities, and how to integrate them into the Taranium network.</p>
            </div>
          </div>

          <!-- Card 6 -->
          <div class="relative flex flex-col items-center p-6 sm:p-8 max-w-[600px] w-full min-h-[300px] bg-[#232323] border border-[#666666] rounded-lg overflow-hidden gap-y-10 sm:gap-y-10">
            <img src="/assets/image-item-academy5.png" alt="" class="drop-shadow-2xl w-24 sm:w-32" />
            <div class="flex flex-col gap-y-3 sm:gap-y-4 text-center">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-xl sm:text-[1.5rem]">Blockchain Security and Compliance</h1>
              <p class="text-white text-sm sm:text-base">Learn the best practices for ensuring security in blockchain projects that covers topics like smart contract audits, data privacy, and regulatory compliance.</p>
            </div>
          </div>
        </div>

        <button class="px-12 py-3 bg-white text-black font-clashDisplay font-semibold rounded-md">Join Academy</button>
      </div>
    </section>
  </div>
</MainLayouts>
