---
import MainLayouts from '../layouts/Main-Layouts.astro';
---

<MainLayouts subtitle="Taranium Academy" title="Taranium">
  <div class="relative md:mx-auto flex flex-col justify-between items-center">
    <section class="relative w-full min-h-screen py-[100px] md:px-6 lg:px-10 flex flex-col items-center justify-center text-center gap-y-10">
      <div class="flex flex-col items-center justify-center gap-y-10">
        <div class="font-clashDisplay flex flex-col items-center justify-center gap-y-8">
          <h1 class="text-[40px] lg:text-[5rem] font-semibold text-white capitalize text-center leading-tight">
            Empowering the Next Generation of <span class="bg-gradient-to-r from-[#CFB1FF] via-[#CFB1FF] to-[#7915EC] inline-block text-transparent bg-clip-text tracking-[4px]"> Blockchain Innovators</span>
          </h1>
          <p class="font-poppins text-center w-[670px] leading-9 text-lg text-white">
            Taranium Academy is your gateway to mastering blockchain technology. We offer expert-led courses and hands-on experiences to empower developers, entrepreneurs, and innovators.
          </p>
        </div>
        <button class="px-14 py-4 bg-gradient-to-br from-[#D0B2FF] to-[#7915EC] capitalize rounded-md text-white">join academy</button>
      </div>
    </section>

    <section class="relative w-full py-[100px] md:px-6 lg:px-10">
      <div class="md:max-w-[100rem] py-5 px-5 md:px-0 lg:mx-auto flex flex-col justify-start gap-y-20">
        <div class="flex flex-col items-center justify-center gap-y-10">
          <div class="font-clashDisplay flex flex-col items-center justify-center gap-y-8">
            <h1 class="text-[40px] lg:text-[45px] font-semibold text-white uppercase text-center tracking-[3px] w-[700px]">TARANIUM BLOCKCHAIN CERTIFIED Partner</h1>
            <p class="font-poppins text-center w-[670px] leading-9 text-lg text-white">
              The Taranium Blockchain Certified Partner (TBCP) program is designed for professionals and organizations looking to demonstrate their expertise and commitment to the Taranium ecosystem.
            </p>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 justify-items-center">
            <div class="relative flex flex-col justify-between items-center py-5 px-8 w-full max-w-[360px] h-full overflow-hidden gap-y-8">
              <div class="flex flex-col gap-y-2">
                <h1 class="text-white font-clashDisplay font-bold capitalize text-[55px] text-center">5</h1>
                <p class="text-white text-center font-clashDisplay uppercase">practical modules</p>
              </div>
            </div>
            <div class="relative flex flex-col justify-between items-center py-5 px-8 w-full max-w-[360px] h-full overflow-hidden gap-y-8">
              <div class="flex flex-col gap-y-2">
                <h1 class="text-white font-clashDisplay font-bold capitalize text-[55px] text-center">24</h1>
                <p class="text-white text-center font-clashDisplay uppercase">practical modules</p>
              </div>
            </div>
            <div class="relative flex flex-col justify-between items-center py-5 px-8 w-full max-w-[360px] h-full overflow-hidden gap-y-8">
              <div class="flex flex-col gap-y-2">
                <h1 class="text-white font-clashDisplay font-bold capitalize text-[55px] text-center">3 X</h1>
                <p class="text-white text-center font-clashDisplay uppercase">practical modules</p>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center w-full max-w-[100rem]">
            <img src="/image-academy.png" alt="Image Academy" class="w-full max-w-[700px]" />
            <div class="flex flex-col items-center justify-center gap-y-10 bg-gradient-to-r from-[#7915EC] via-[#CC51FF] to-[#F4B4FF] w-full py-20 rounded-xl">
              <h3 class="w-[800px] text-[3rem] font-clashDisplay text-white font-bold tracking-[2.5px] text-center leading-tight">Empower Your Future with Blockchain Knowledge!</h3>
              <button class="px-14 py-3 bg-white text-black font-clashDisplay font-semibold rounded-md">Enroll Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative w-full py-[100px] md:px-6 lg:px-10">
      <div class="md:max-w-[90rem] py-5 lg:mx-auto flex flex-col items-center justify-center gap-y-12">
        <h1 class="text-center text-[45px] text-white font-clashDisplay font-bold tracking-[2px] uppercase">COURSE OVERVIEW</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 justify-items-center w-full">
          <div class="relative flex flex-col justify-between items-center p-8 max-w-[600px] w-full h-full overflow-hidden gap-y-8 bg-[#232323] border-[0.8px] border-[#666666] rounded-lg">
            <img src="/assets/image-item-academy.png" alt="" class="drop-shadow-2xl w-32" />
            <div class="flex flex-col gap-y-4">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-[1.5rem] text-center">Foundations of Blockchain Technology</h1>
              <p class="text-white text-center">Gain a comprehensive understanding of blockchain fundamentals, including consensus mechanisms, cryptography, and decentralized networks.</p>
            </div>
          </div>
          <div class="relative flex flex-col justify-between items-center p-8 max-w-[600px] w-full h-full overflow-hidden gap-y-8 bg-[#232323] border-[0.8px] border-[#666666] rounded-lg">
            <img src="/assets/image-item-academy1.png" alt="" class="drop-shadow-2xl w-32" />
            <div class="flex flex-col justify-center items-center gap-y-4">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-[1.5rem] text-center w-[20rem]">Building dApps on Taranium</h1>
              <p class="text-white text-center">Gain a comprehensive understanding of blockchain fundamentals, including consensus mechanisms, cryptography, and decentralized networks.</p>
            </div>
          </div>
          <div class="relative flex flex-col justify-between items-center p-8 max-w-[600px] w-full h-full overflow-hidden gap-y-8 bg-[#232323] border-[0.8px] border-[#666666] rounded-lg">
            <img src="/assets/image-item-academy2.png" alt="" class="drop-shadow-2xl w-32" />
            <div class="flex flex-col gap-y-4">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-[1.5rem] text-center">Decentralized Finance (DeFi) Essentials</h1>
              <p class="text-white text-center">Gain a comprehensive understanding of blockchain fundamentals, including consensus mechanisms, cryptography, and decentralized networks.</p>
            </div>
          </div>
          <div class="relative flex flex-col justify-between items-center p-8 max-w-[600px] w-full h-full overflow-hidden gap-y-8 bg-[#232323] border-[0.8px] border-[#666666] rounded-lg">
            <img src="/assets/image-item-academy3.png" alt="" class="drop-shadow-2xl w-32" />
            <div class="flex flex-col gap-y-4">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-[1.5rem] text-center">Metaverse Development on Taranium</h1>
              <p class="text-white text-center">Dive into the development of immersive digital worlds and learn how to create and manage virtual assets within the metaverse.</p>
            </div>
          </div>
          <div class="relative flex flex-col justify-between items-center p-8 max-w-[600px] w-full h-full overflow-hidden gap-y-8 bg-[#232323] border-[0.8px] border-[#666666] rounded-lg">
            <img src="/assets/image-item-academy4.png" alt="" class="drop-shadow-2xl w-32" />
            <div class="flex flex-col gap-y-4">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-[1.5rem] text-center">Real-World Asset Tokenization</h1>
              <p class="text-white text-center">Understand the process of tokenizing physical assets, including real estate, art, and commodities, and how to integrate them into the Taranium network.</p>
            </div>
          </div>
          <div class="relative flex flex-col justify-between items-center p-8 max-w-[600px] w-full h-full overflow-hidden gap-y-8 bg-[#232323] border-[0.8px] border-[#666666] rounded-lg">
            <img src="/assets/image-item-academy5.png" alt="" class="drop-shadow-2xl w-32" />
            <div class="flex flex-col gap-y-4">
              <h1 class="text-white font-clashDisplay font-semibold uppercase text-[1.5rem] text-center">Blockchain Security and Compliance</h1>
              <p class="text-white text-center">Learn the best practices for ensuring security in blockchain projects that covers topics like smart contract audits, data privacy, and regulatory</p>
            </div>
          </div>
        </div>
        <button class="px-16 py-3 bg-white text-black font-clashDisplay font-semibold rounded-md">Join Academy</button>
      </div>
    </section>
  </div>
</MainLayouts>
